$primary: #2885F6;
$secondary: #E3F2FF;
$primaryContrastText: #fff;
$secondaryContrastText: #2740B0;
$tertiary: #F9FAFB;
$tertiaryContrastText: #1D2939;
$cardBorderColor: #E4E7EC;
$primaryFontSize: 18px;
$fontRegular: 400px;
$fontSemiBold: 600px;
$fontBold: 900px;
